In [2]:
## Importing Important Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Specifics of data
Attribute Information:
   1. vendor name: 30 
      (adviser, amdahl,apollo, basf, bti, burroughs, c.r.d, cambex, cdc, dec, 
       dg, formation, four-phase, gould, honeywell, hp, ibm, ipl, magnuson, 
       microdata, nas, ncr, nixdorf, perkin-elmer, prime, siemens, sperry, 
       sratus, wang)
   2. Model Name: many unique symbols
   3. MYCT: machine cycle time in nanoseconds (integer)
   4. MMIN: minimum main memory in kilobytes (integer)
   5. MMAX: maximum main memory in kilobytes (integer)
   6. CACH: cache memory in kilobytes (integer)
   7. CHMIN: minimum channels in units (integer)
   8. CHMAX: maximum channels in units (integer)
   9. PRP: published relative performance (integer)
  10. ERP: estimated relative performance from the original article (integer)

In [4]:
## Column Names
Names=['vendor','Model Name','MYCT','MMIN','MMAX','CACH','CHMIN','CHMAX','PRP','ERP']
Names

['vendor',
 'Model Name',
 'MYCT',
 'MMIN',
 'MMAX',
 'CACH',
 'CHMIN',
 'CHMAX',
 'PRP',
 'ERP']

In [5]:
## Reading the data file
data=pd.read_csv('E:\\Full stack data science-Python pratice\\Machine Learning\\Machine-Learning-Algorithms\\Datasets for Algorithms\\machine.data')
data.head()

  adviser    32/60  125   256   6000  256.1  16  128  198  199
0  amdahl   470v/7   29  8000  32000     32   8   32  269  253
1  amdahl  470v/7a   29  8000  32000     32   8   32  220  253
2  amdahl  470v/7b   29  8000  32000     32   8   32  172  253
3  amdahl  470v/7c   29  8000  16000     32   8   16  132  132
4  amdahl   470v/b   26  8000  32000     64   8   32  318  290

We could see as data is not having header so 1st record is considered as header. So to avoid this happening we will add header=None while reading file

In [6]:
## Reading the data file
data=pd.read_csv('E:\\Full stack data science-Python pratice\\Machine Learning\\Machine-Learning-Algorithms\\Datasets for Algorithms\\machine.data',header=None)
data.head()

         0        1    2     3      4    5   6    7    8    9
0  adviser    32/60  125   256   6000  256  16  128  198  199
1   amdahl   470v/7   29  8000  32000   32   8   32  269  253
2   amdahl  470v/7a   29  8000  32000   32   8   32  220  253
3   amdahl  470v/7b   29  8000  32000   32   8   32  172  253
4   amdahl  470v/7c   29  8000  16000   32   8   16  132  132

In [7]:
## Assigning column names
data.columns=Names
data.head()

    vendor Model Name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0  adviser      32/60   125   256   6000   256     16    128  198  199
1   amdahl     470v/7    29  8000  32000    32      8     32  269  253
2   amdahl    470v/7a    29  8000  32000    32      8     32  220  253
3   amdahl    470v/7b    29  8000  32000    32      8     32  172  253
4   amdahl    470v/7c    29  8000  16000    32      8     16  132  132

In [8]:
## Null value check
data.isnull().sum()

vendor        0
Model Name    0
MYCT          0
MMIN          0
MMAX          0
CACH          0
CHMIN         0
CHMAX         0
PRP           0
ERP           0
dtype: int64

In [9]:
len(data['Model Name'].unique())

209

In [33]:
## Encode vendor and model name columns
from sklearn.preprocessing import LabelEncoder
Encode=LabelEncoder()

data['vendor'],data['Model Name']=Encode.fit_transform(data['vendor']),Encode.fit_transform(data['Model Name'])
data.head()

   vendor  Model Name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0       0          29   125   256   6000   256     16    128  198  199
1       1          62    29  8000  32000    32      8     32  269  253
2       1          63    29  8000  32000    32      8     32  220  253
3       1          64    29  8000  32000    32      8     32  172  253
4       1          65    29  8000  16000    32      8     16  132  132

In [34]:
## Defining X and Y
X=data.drop(columns=['ERP'],axis=1)
Y=data['ERP']

In [35]:
## Importing sklearn's functionalities
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error,r2_score

In [36]:
## Split into training and testing
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3)

In [37]:
## Linear Regression object
Regressor=LinearRegression()

In [38]:
## Training
Regressor.fit(X_train,Y_train)

LinearRegression()

In [40]:
## Prediction
Y_pred=Regressor.predict(X_test)

In [41]:
## Compare the actual and predicted output
mean_squared_error(Y_test,Y_pred)

544.3552417133292

In [42]:
## Accuracy
r2_score(Y_test,Y_pred)

0.8932804858956304